<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="MorilDataDBConnectionString" connectionString="Data Source=zp26v5i8gb.database.windows.net;Initial Catalog=MorilDataDB;User ID=MIMKA;Password=Incaseoffire1;Connect Timeout=60" providerName="System.Data.SqlClient" />
    <add name="MorilDataDBConnectionString1" connectionString="Data Source=zp26v5i8gb.database.windows.net;Initial Catalog=MorilDataDB;User ID=MIMKA;Password=Incaseoffire1" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Data Source=zp26v5i8gb.database.windows.net;
         Initial Catalog=MorilDataDB;
         User ID=MIMKA;
         Password=Incaseoffire1;Connect Timeout=60
         AttachDbFilename=|DataDirectory|\aspnet-WebAPI_NG_TokenbasedAuth-20160308073204.mdf;
         Initial Catalog=aspnet-WebAPI_NG_TokenbasedAuth-20160308073204;
         Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="pages/login.html" />
      </files>
    </defaultDocument>
    <directoryBrowse enabled="false" />
    
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>

  <system.web>
    <authentication mode="Windows"></authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>